mixed-port: 7890
allow-lan: false
bind-address: '*'
mode: rule
log-level: info
ipv6: true
udp: true

external-controller: 127.0.0.1:9090
external-ui: /opt/clash-for-linux/conf/ui

proxies: []
proxy-groups: []

rules:
  - MATCH,DIRECT
